-#= form_for @request, action: "create" do |f|
= form_for [@user, @user.requests_for_communications.build] do |f|
     
  
  = f.hidden_field :receiver, value: @receiver_user_id
  = f.hidden_field :status,   value: 'waiting_for_an_answer'
    
  
  = f.submit 'Отправить запрос на общение', class: ' btn btn-large btn-block btn-info request-btn '
  
  
        
        
        
-#.request-for-communicate 
  = button_to 'Отправить запрос на общение',  @yes_params, class: ' btn btn-large btn-block btn-info request-btn '        
    -#.btn.btn-large.btn-block.btn-info.request-btn 
      Отправить запрос на общение    

