#form.lead
  =flash[:notice]
  = form_for @contact, action: 'create' do |f|
  

    
    %a{name: '1'}    
    .dark-green{class: flash[:error_class_name]}
      Введите Ваше имя:
    
    %div    
      = f.text_field :name,             required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_name] || @exist_contact.name || nil}",
                                        autofocus:    flash[:autofocus_name]
                                                                                           
    %br/                                    
  

  

    -#
      %a{name: '2'}
      .dark-green{class: flash[:error_class_surname]}
        Фамилия:
    
      %div    
        = f.text_field :surname,        required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_surname] || @exist_contact.surname  || nil}",
                                        autofocus:    flash[:autofocus_surname]
      %br/                                        
                                        
                                        
                                        

    %a{name: '6'}
    .dark-green{class: flash[:error_class_own_gender]}
      Ваш пол:                                                                           
      
        
    =f.radio_button :own_gender, 'М', checked: flash[:contact_own_gender_male_checked], id: 'own_gender_male'
    =f.label :own_gender, 'Мужской', for: 'own_gender_male'
    
    %br/                 
    
    
    =f.radio_button :own_gender, 'Ж', checked: flash[:contact_own_gender_female_checked], id: 'own_gender_female'
    =f.label :own_gender, 'Женский', for: 'own_gender_female'
    
    %br/             

        
    -#      
      =f.radio_button :own_gender, 'ЖМ' "#{flash[:contact_own_gender_other_checked]}", id: 'own_gender_other'
      =f.label :own_gender, 'Другой пол', for: 'own_gender_other'
                                        

  
  
    %br/                        

    %a{name: '3'}
    .dark-green{class: flash[:error_class_city]}
      Город проживания:
    
    %div    
      = f.text_field :city,             required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',                              
                                        value:       "#{flash[:contact_city] || @exist_contact.city  || nil}",                                                  
                                        autofocus:    flash[:autofocus_city]
    %br/                                                                            

  


    %a{name: '4'}
    .dark-green{class: flash[:error_class_country]}
      Страна:
    
    %div    
      = f.text_field :country,          required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_country] || @exist_contact.country  || nil}",
                                        autofocus:    flash[:autofocus_country]
    %br/                                                                            
  

  

    %a{name: '5'}
    .dark-green{class: flash[:error_class_birthday]}
      Дата рождения:
    
    %div    
      = f.date_select :birthday,        required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   100,
                                        autofocus:   flash[:autofocus_birthday],
                                        start_year:  @date_select_year_start,
                                        end_year:    @date_select_year_end,
                                        order:       [:day, :month, :year],
                                        default:     { day:   flash[:contact_birthday_day], 
                                                       month: flash[:contact_birthday_month], 
                                                       year:  "#{1990 || flash[:contact_birthday_year] }" }
                                        
    %br/                                                                            
                                        
                                        

                                        

    %a{name: '7'}
    .dark-green{class: flash[:error_class_search_for_gender]}
      Кто Вас интересует:                                                                                                   
            
                        
    =f.radio_button :search_for_gender, 'М', checked: flash[:contact_search_for_gender_male_checked], id: 'search_for_gender_male'
    =f.label :own_gender, 'Мужчины', for: 'search_for_gender_male'                
    
    %br/             
          

    =f.radio_button :search_for_gender, 'Ж', checked: flash[:contact_search_for_gender_female_checked], id: 'search_for_gender_female'
    =f.label :own_gender, 'Женщины', for: 'search_for_gender_female'                    

    %br/             
    
    
    =f.radio_button :search_for_gender, 'ЖМ', checked: flash[:contact_search_for_gender_both_checked], id: 'search_for_gender_both'
    =f.label :own_gender, 'Оба пола', for: 'search_for_gender_both'            
      
    %br/                                                                    
  

  
    %br/     

    %a{name: '8'}
    .dark-green{class: flash[:error_class_about_info]}
      Жизненные ценности, интересы, надежды:
    
    %div    
      = f.text_area :about_info,        size:        '25x5',
                                        required:    '',                                                                                 
                                        class:       'input-xlarge', 
                                        maxlength:   '1000',
                                        value:       "#{flash[:contact_about_info] || @exist_contact.about_info || nil}",
                                        autofocus:    flash[:autofocus_about_info]
  
    %br/
    
    
    
    
    %a{name: '9'}
    .dark-green{class: flash[:error_class_deep_info]}
      Жизненные смыслы, сделающие жизнь полной
      .contacts-examples-text
        (например, хочу дом, поездки в Испанию вдвоем, хозяйство, теплицы, 3-их детей, открыть бизнес...):
    
    %div    
      = f.text_area :deep_info,        size:        '25x5',
                                        required:    '',                                                                                 
                                        class:       'input-xlarge', 
                                        maxlength:   '1000',
                                        value:       "#{flash[:contact_deep_info] || @exist_contact.deep_info || nil}",
                                        autofocus:    flash[:autofocus_deep_info]  
    %br/    
  
  

    
    
    %a{name: '10'}
    .dark-green{class: flash[:error_class_image]}
      Выберите Ваше фото:
    %div                                        
      =f.file_field :image

    %br/                     




    #paper
      %a{name: '11'}
      .dark-green{class: flash[:error_class_secret_question]}
        -#Выберите 2 секретных вопроса для входа на сайт:
        Выберите 2 секретных вопроса для входа на сайт:                                                                                

      %br/                     


      -#=flash['contact.secret_question'] 
      - @secret_questions.each do |secret_question|      
      
        =f.check_box :secret_question, {multiple: true, id: 'secret_question_' + secret_question.id.to_s, checked: flash['contact_secret_question_' + secret_question.id.to_s]}, secret_question.id, nil
        =f.label     :secret_question, secret_question.body, for: 'secret_question_' + secret_question.id.to_s              
        -#=flash[:sqw]
              
           
        %br/
        %br/             
                
        
        
        
    %a{name: '12'}
    .dark-green{class: flash[:error_class_secret_answer_1]}
      Ответ на первый секретный вопрос:
    
    %div    
      = f.text_area :secret_answer_1,   size:        '25x2',
                                        required:    '',                                                                                 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_secret_answer_1] || @exist_contact.secret_answer_1 || nil}",
                                        autofocus:    flash[:autofocus_secret_answer_1]
    %br/                     
                             
                             
                             
                             
    %a{name: '13'}
    .dark-green{class: flash[:error_class_secret_answer_2]}
      Ответ на второй секретный вопрос:
    
    %div    
      = f.text_area :secret_answer_2,   size:        '25x2',
                                        required:    '',                                                                                 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_secret_answer_2] || @exist_contact.secret_answer_2 || nil}",
                                        autofocus:    flash[:autofocus_secret_answer_2]
    -#%br/                                                                  
  
  



    = f.hidden_field  :email,             value:  @order.email
    = f.hidden_field  :group,             value:  @order.group      
    = f.hidden_field  :order_number,      value:  @order.id   




    %div       
      = f.submit 'Сохранить', class: 'btn btn-success btn-large'  
  
  
  
