#form.lead
  = form_for @contact, action: 'create' do |f|
  

    
    %a{name: 'name'}    
    .dark-green{class: flash[:error_class_name]}
      Введите Ваше имя:
    
    %div    
      = f.text_field :name,             required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_name] || nil}",
                                        autofocus:    flash[:autofocus_name]
    %br/                                    
  

  

    -#
      %a{name: 'surname'}
      .dark-green{class: flash[:error_class_surname]}
        Фамилия:
    
      %div    
        = f.text_field :surname,        required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_surname] || nil}",
                                        autofocus:    flash[:autofocus_surname]
      %br/                                        
                                        
                                        
                                        

                                 
    %a{name: 'own_gender'}
    .dark-green{class: flash[:error_class_own_gender]}
      Ваш пол:                                        
      
    %br/                                                    
      
        
    =f.radio_button :own_gender, 'Мужчина' "#{flash[:contact_own_gender_male_checked]}"
    =f.label :own_gender, 'Мужской', value: 'Мужчина'    
    
    %br/                 
    
    
    =f.radio_button :own_gender, 'Женщина' "#{flash[:contact_own_gender_female_checked]}"
    =f.label :own_gender, 'Женский', value: 'Женщина'    
    
    %br/             

        
    -#      
      =f.radio_button :own_gender, 'Другой пол' "#{flash[:contact_own_gender_other_checked]}"
      =f.label :own_gender, 'Другое', value: 'Другой пол'                  
                                        

  
  

    %a{name: 'city'}
    .dark-green{class: flash[:error_class_city]}
      Город проживания:
    
    %div    
      = f.text_field :city,             required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',                              
                                        value:       "#{flash[:contact_city] || nil}",                                                  
                                        autofocus:    flash[:autofocus_city]
    %br/                                                                            

  


    %a{name: 'country'}
    .dark-green{class: flash[:error_class_country]}
      Страна:
    
    %div    
      = f.text_field :country,          required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_country] || nil}",
                                        autofocus:    flash[:autofocus_country]
    %br/                                                                            
  

  

    %a{name: 'birthday'}
    .dark-green{class: flash[:error_class_birthday]}
      Дата рождения:
    
    %div    
      = f.date_select :birthday,        required:    '', 
                                        class:       'input-xlarge', 
                                        maxlength:   '100',
                                        value:       "#{flash[:contact_birthday] || nil}",
                                        autofocus:    flash[:autofocus_birthday],
                                        start_year:   1900
    %br/                                                                            
                                        
                                        

                                        

    %a{name: 'search_for_gender'}
    .dark-green{class: flash[:error_class_search_for_gender]}
      Кто Вас интересуют:                                        
      
    %br/                                                    
      
            
            
    =f.radio_button :search_for_gender, 'Мужчины' "#{flash[:contact_search_for_gender_male_checked]}"
    =f.label :search_for_gender, 'Мужчины', value: 'Мужчины'    
    
    %br/             
          

    =f.radio_button :search_for_gender, 'Женщины' "#{flash[:contact_search_for_gender_female_checked]}"
    =f.label :search_for_gender, 'Женщины', value: 'Женщины'    

    %br/             
    
    
    =f.radio_button :search_for_gender, 'Оба пола' "#{flash[:contact_search_for_gender_both_checked]}"
    =f.label :search_for_gender, 'Оба пола', value: 'Оба пола'                      
      
    %br/                                                                    
  

  


    %a{name: 'about_info'}
    .dark-green{class: flash[:error_class_about_info]}
      Жизненные ценности, интересы, надежды:
    
    %div    
      = f.text_area :about_info,        size:        '25x5',
                                        required:    '',                                                                                 
                                        class:       'input-xlarge', 
                                        maxlength:   '1000',
                                        value:       "#{flash[:contact_about_info] || nil}",
                                        autofocus:    flash[:autofocus_about_info]
                                        
                                           
  
  

    = f.hidden_field  :email,             value:  @order.email
    = f.hidden_field  :group,             value:  @order.group      
    = f.hidden_field  :order_number,      value:  @order.id   




    %div       
      = f.submit 'Сохранить', class: 'btn btn-success btn-large'  
  
  
  
