- @menu_up_item = 'contacts_show'


- if flash[:info_on_request_added]
  %article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
    %section
      #note
        =flash[:info_on_request_added].html_safe


- unless @contacts.count == 0 


  - @conter = 1
  - @contacts.each_with_index do |contact, index|
  
    -# COLOR
    - @color = 'green'       if contact.group == 'GOOD GROUP'    
    - @color = 'saddlebrown' if contact.group == 'MIDDLE GROUP'    
    - @color = 'indigo'      if contact.group == 'BAD GROUP'
    
    - @title_on_hover = 'С этим человеком отношения безопасны'           if contact.group == 'GOOD GROUP'    
    - @title_on_hover = 'С этим человеком строить отношения сложнее, чем с людьми с зеленым квадратом' if contact.group == 'MIDDLE GROUP'    
    - @title_on_hover = 'Построение отношений с этим человеком требует больше усилий'      if contact.group == 'BAD GROUP'          
      
      
    
    -#.white_border
    %article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
       
      %strong
        .contact-square{style: "background-color: #{@color}; color: #{@color}; ", title: @title_on_hover}
          OO
          .contact-square-info
            ?
        =contact.name        
      
      - unless contact.image.url.match(/missing.png/)     
        .contact-image
          = image_tag contact.image.url      
  
      %address
        =contact.city + ', ' + contact.country
      
      .text-success
        =contact.birthday
      
      .lead
        =contact.about_info   
  
      -#.label.label-success.select_able
        =contact.email        
        
      - @receiver_user_id = contact.user_id  
        
        
      %section
        %b
          =render partial: 'new_request_for_communication' 
        
       
    
      -#%br/
      
      
      -#-if index == 1
      -#  %section
      -#    #form.lead
      -#      %b      
      -#        = render partial: 'consults/consult_form'
      
- else    
  
  .lead 
    -# Email или отложка:
    База создается. Зайдите повторно через несколько дней.
    
  =button_to 'На главную', '/', class: 'btn btn-success btn-large'   
-#______________________________________________________________________________  



-#%section
  #form.lead
    %b
      -#=render partial: 'new_consult_form' 


  
    







