- @menu_up_item = 'recommendations'

-#- @menu_up_item = 'feedback-room'recommendations
-#- @this_page_name = 'feedback-room'


%br/

    
%a{ name: 'top' }



- if flash[:res]
  #paper
    =flash[:res]
      
- if flash[:in_from_db_succes]
  #paper      
    =flash[:in_from_db_succes]
      

      
-#.block-nav-menu-room.block-nav-menu-room-up  
  -#%article.lead.info_msg
  =render partial: 'layouts/menu/navigation'                  
  %br/
    
  
        
.k

  -#
    .contact-square{style: "background-color: #{@color}; color: #{@color}; ", title: @title_on_hover}
    
  -#  
    .contact-square{style: "background-color: #{@color}; color: #{@color}; "}
      OO
      .contact-square-info
        ?
  

  %h3
    Мы рады приветствовать Вас, 
    =@user.name
    !


  
  %p.square-feedback      
  
    %span 
      .square{ class: @square_class }
        O
        
    %span{ class: 'square-symbol-info' }
      Ваш символ-квадратик
                        
  %br/


  
  - if @struct_recomend            
    =render partial: 'contents_of_feedback'            
            
      
            
  .feedback-personal-body
  

    -#.k   #contr+
      
      %a{ name: 'part1' }  
      %h3
        Часть I :
      =@struct_info.html_safe
      = image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')                       


      %a{ name: 'part2' }    
      %h3
        Часть II :    
      =@level_info.html_safe
      = image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')                       
      
      %br/
    
    
    %a{ name: 'part1' }  
    %h3
      Обратная связь :
    =@struct_info.html_safe
    = image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')                       
          
    
    - if @struct_recomend
      %a{ name: 'recomend' }
      .feedback_recomend_part

        %h3.whose_partner
          =@whose_partner + ', практические рекомендации Вашему партнеру:'
        
        =@struct_recomend.html_safe
    
    
%a{ name: 'down' }    
.block-nav-menu-room.block-nav-menu-room-down  
  =render partial: 'layouts/menu/navigation_bottom'                      
  
  
