- @menu_up_item = 'test'

#form.lead
  = form_tag '/te_s_le_ar' do 

    .k
      %a{name: '1'}
      .dark-green{class: flash[:error_class_signal_level_arr]}
        Из трёх утверждений 
        %br/
        выберите только одно,
        %br/
        которое совсем 
        %br/
        НЕ про Вас:                                                                          

      %br/                     
        
      - @qw_level_signals.each do |level_signal|      
        
        %label.label_checkbox
          = check_box_tag 'order_signal_level_array[]', level_signal.level
          -#   , "#{flash['signal_level_arr_' + level_signal.level]}"
          = level_signal.field
        
        -#= check_box_tag :order_signal_level_array, "#{'level_signal_' + level_signal.id.to_s}", {multiple: true} 
        -#= label_tag :order_signal_level_array, level_signal.field, class: "#{'level_signal_' + level_signal.id.to_s}"
        = image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')               
        %br/
        

    = hidden_field_tag  :order_id,          @order.id   
    = hidden_field_tag  :order_akey_start,  @order.akey[0..2]



    %div     
      = submit_tag 'Следующий вопрос', class: 'btn btn-success btn-large'  
      
      
      
-#= label_tag :checkbox, "checkbox"     
-#= check_box_tag("name", "value", false, class: "checkbox")       
      



-##form.lead
  = form_for @order, controller: 'tests', action: 'signal_level_array_save' do |f|


    .k
      %a{name: '1'}
      .dark-green{class: flash[:error_class_secret_question]}
        Из 10 утверждений выберите только 2,
        %br/
        с которыми Вы ПОЛНОСТЬЮ согласны:                                                                          

      %br/                     

 
      - @qw_level_signals.each do |level_signal|      
      
        =f.check_box :signal_level_arr, {multiple: true, id: 'level_signal_' + level_signal.id.to_s, checked: flash['contact_level_signal_' + level_signal.id.to_s]}, level_signal.id, nil
        =f.label     :signal_level_arr, level_signal.field, for: 'level_signal_' + level_signal.id.to_s              
        



    %div       
      = f.submit 'Сохранить', class: 'btn btn-success btn-large'  




-#- if @question.advice != nil and @question.advice != ''
  #advice
    #paper
      .advice-text
        =@question.advice  
  %br/      


-#.lead
  =@question_title

-#= button_to 'Next', @redirect_to
-#,  @yes_params, class: 'btn btn-info btn-large test-click-yes-button'
-#= button_to 'Нет', @no_params,  class: 'btn btn-primary btn-large test-click-no-button'



