- @menu_up_item = 'room'
-#- @menu_up_item = 'contacts_show'      



%a{ name: 'top' }



.block-nav-menu-room.block-nav-menu-room-up  
  -#%article.lead.info_msg
  =render partial: 'layouts/menu/navigation'                  
  %br/


%a{ name: 'feedb' }
%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/feedback_personal'


%a{ name: 'convers' }
%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/conversations_block'


%a{ name: 'requests' }
%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/requests_block'


%a{ name: 'show_feedbacks' }
%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/show_feedbacks_block'

  
%a{ name: 'open_feedbacks' }
%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/open_feedbacks_block'
    
  
  
.block-nav-menu-room.block-nav-menu-room-down  
  =render partial: 'layouts/menu/navigation_bottom'                  
  
