!!!
%html
  %head
    = render partial: 'layouts/head/head'

    
  %body.un_selectable

    #fond_text
      = render partial: 'layouts/fond-content/text'
      -#= render partial: 'layouts/fond-content/rambler_top_100_counter'
    #fond_green_layer
    
    = image_tag 'fond_main/forest_original.jpg', id: 'fond_forest_main', title: "#{@main_page.fond_img_forest_title || 'Умиротворяющий лес'}", alt: "#{@main_page.fond_img_forest_alt_text || 'Умиротворяющий лес. Фон сайта для поиска пары.'}"
    
                       
    
    %main
      .row-fluid
        
        - if @menu_up_item == 'main'            
        
          %nav.block{class: "span#{@main_page.count_of_columns} offset#{@main_page.count_of_left_offsets} "}
            = yield                 
                          

            
        - elsif @menu_up_item == 'contacts'      

          .contacts-block.span6.offset2             
            .lead.info_msg             
              .block-nav-menu-room.block-nav-menu-room-up  
                =render partial: 'layouts/menu/navigation'                      
                %br/
                
              = yield                                 
                                                                 
              
            .lead.info_msg             
              .block-nav-menu-room.block-nav-menu-room-down  
                =render partial: 'layouts/menu/navigation_bottom'                                                   

              
              
          -#.span3.offset7.nav-menu-room.block-nav-menu-room
            %article.lead.info_msg
              =render partial: 'layouts/menu/navigation'    

        
          -#.contacts-block.span6.offset2
              .lead.info_msg
                = yield         

            


        - elsif @menu_up_item == 'room_see'      

          .contacts-block.span6.offset2             
            .lead.info_msg             
            
              .block-nav-menu-room.block-nav-menu-room-up  
                =render partial: 'layouts/menu/navigation'                      
                %br/
                
              = yield                                 
                                                                 
              
            .lead.info_msg             
              .block-nav-menu-room.block-nav-menu-room-down  
                =render partial: 'layouts/menu/navigation_bottom'                                                   



            
        - elsif @menu_up_item == 'test'      
        
          .span8.offset2.block
            %article.lead.info_msg
              = yield                 
            
          
              
        - elsif @menu_up_item == 'room'                      
      
          .room.contacts-block.span6.offset2
            .lead.info_msg
              = yield                                 
              
          -#.span4.offset7.nav-menu-room.block-nav-menu-room
            %article.lead.info_msg
              =render partial: 'layouts/menu/navigation'              

              
          -#- if @this_page_name == 'feedback-room'  
            .span6.offset1.block{class: @qws_body_block}
              %article.lead.info_msg
                = yield                 
                
          -#- else                 
            .contacts-block.span6.offset1
              .lead.info_msg
                = yield                                                   
              


        - elsif @menu_up_item == 'recommendations'                      

          .span7.offset2.block{class: @qws_body_block}                              
            .lead.info_msg.feed-back-page             
              = yield                                                 

      
          -#.contacts-block.span7.offset2
          
            .lead.info_msg           
              .block-nav-menu-room  
                =render partial: 'layouts/menu/navigation'                      
                %br/    
                        
            .block{class: @qws_body_block}               
              .lead.info_msg                                 
                = yield                                 

              
          -#.span4.offset8.nav-menu-room.nav-menu-recommend.block-nav-menu-room
            %article.lead.info_msg
              =render partial: 'layouts/menu/navigation'                           
              
              

        - elsif @menu_up_item == 'requests'                      
      
          .span6.offset2.block
            .lead.info_msg
              = yield                                 
              
          -#.span4.offset7.nav-menu-room.block-nav-menu-room
            %article.lead.info_msg
              =render partial: 'layouts/menu/navigation'              


        - elsif @menu_up_item == 'conversations'                      
      
          .span6.offset2.block
            .lead.info_msg
              = yield                                 
              
          -#.span6.offset2             
            .lead.info_msg             
              .block-nav-menu-room  
                =render partial: 'layouts/menu/navigation'                      
                %br/
            
            .block      
              = yield                                 
              
            
              
          -#.span4.offset7.nav-menu-room.block-nav-menu-room
            %article.lead.info_msg
              =render partial: 'layouts/menu/navigation'              

                            
        - else
    
          .span7.offset2.block{class: @qws_body_block}
            %article.lead.info_msg
              = yield                 



-#= javascript_include_tag 'application', 'data-turbolinks-track' => true



= render partial: 'layouts/head/pre/prerender_pages'
= render partial: 'layouts/head/pre/prefetch_current_precompiled_imgs'
/[if IE]
  %script{type: 'text/javascript', src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
      
      






